<div class="box">
    <h1>{{artist}}</h1>
    <div *ngFor="let item of albums">
        <div (click)="selectAlbum(item)" class="nameAndyear" style="display: inline-flex">
            <p>{{item.name}}</p>
            <p>{{item.year}}</p>
        </div>
    </div>
    <div class="songs" *ngFor="let item of songs">
        <div (click)="selectSong(item)" class="nameAndyear" style="display: inline-flex">
            <p>{{item.title}}</p>
            <p *ngIf="selectedSong === item.title" style="color: blue">Escuchando...</p>
        </div>
    </div>
</div>